<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
    <style>
        span{
            color: purple;
        }
    </style>
</head>
<body>
    <%- include('common/header'); %>
   <h1>Good Morning, <span><%= user.name %></span></h1>    
   <h3><%= user.email %></h3>
   <h3><%= user.city %></h3>
   <ul>
    <% user.skills.forEach((item) => {  %>    
     <li><%= item %></li>    
    <% });%>    
   </ul>
</body>
</html>